/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --main-bg-color: brown;
  --yellow-txt-color: #FFA62B;
  --lt-blue:#26336300 ;
}

 body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: #e8ecee;
  }
  
  a {
    text-decoration: none;
    color:#FFA62B;
    background-color:rgba(0, 0, 0, 0.0);
  }
  
  a:hover {
    color: #FFA62B;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

  h6 {
    padding-left: 10px;
  }

  form {
    width: 90%;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: #031d44;
    padding: 10px 0;
    font-size: 14px;
    color: #9b9b9b;
  }
  
  /* experiment section 
  */
  
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 50px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.link-to{
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin:10px;
  margin-bottom: 25px;
  border-style: solid;
  border-width: 1px;
  border-color:#46464a8a;
  border-radius: 15px;
}
.link-to:hover{
  background: #253263;
  color: #fff;
}
/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}

h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}

body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    /* height: 70px; */
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #031d44;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }

  #header .logo .h5 {
    color: #f4f2f2 !important;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  .scrolled-offset {
    margin-top: 70px;
  }

  .subtext-light {
    color: #f4f2f2 !important;
    font-size: small;
  }

  .bg-dark {
    background-color: #031d44 !important;
    padding-top: 2px;
    padding-bottom: 2px;
}
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    /* list-style: none; */
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #FFA62B;
    background-color:rgba(0, 0, 0, 0.0);
  }
  
  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: #FFA62B;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  
  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: #FFA62B;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #353535;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #FFA62B;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: 0%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  .navbar-toggler-icon{
    color:#fff;
  }

  .nav-btn {
    background:rgba(0, 0, 0, 0.0);
    padding: 3px;
    font-size: 12px;
    color:#fff;
    text-transform: uppercase;
    border-width: 0;
    width: auto;
    margin-left: 0px;
  }

  .nav-btn:hover {
    color: #FFA62B;
  }

  .nav-btn-logout {
    background:rgba(0, 0, 0, 0.0);
    padding: 3px;
    font-size: 12px;
    color:#fff;
    text-transform: uppercase;
    border-width: 0;
    width: auto;
    margin-left: 20px;
  }
  .nav-btn-logout:hover {
    color: #FFA62B;
  }

  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    display: block;
    line-height: 0;
    transition: 0.5s;
    border-width: 2px;
    border-color:#8fc04e;
  }
  
  @media (max-width: 768px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 10px;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      white-space: nowrap;
      transition: 0.3s;
    }

    .nav-btn {
      background:rgba(0, 0, 0, 0.0);
      padding: 3px;
      font-size: 18px;
      font-weight: 600;
      color:#fff;
      text-transform: uppercase;
      border-width: 0;
      width: auto;
      margin-left: 0px;
    }

    .nav-btn-logout {
      background:rgba(0, 0, 0, 0.0);
      padding: 3px;
      font-size: 18px;
      font-weight: 600;
      color:#fff;
      text-transform: uppercase;
      border-width: 0;
      width: auto;
      margin-left: 0px;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(28, 28, 28, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #353535;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #FFA62B;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #FFA62B;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }


  /*______
  exp
  */
  .navbar {
    margin-top: 15px;
  }
  
  .navbar-default .navbar-nav>li>a:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .navbar-earlycollapse {
    @media (max-width: 768px) {
      .navbar-header, .navbar-nav, .navbar-nav>li {
        float: left;
      }
      .navbar-nav {
        margin: 7.5px -15px;
        background-color: #353535;
      }
      .navbar-collapse.collapse {
        display: none!important;
        border-top: 1px solid #e7e7e7;
        &.in {
          display: block!important;
        }
      }
      .navbar-toggle {
        display: block;
      }
      .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  /* Customizing scrollbar */
  .overflow-auto::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  /* Track */
  .overflow-auto::-webkit-scrollbar-track {
    background: #23242461;  /* Transparent track */
    border-radius: 10px;
  }

  /* Handle */
  .overflow-auto::-webkit-scrollbar-thumb {
    background: #007bff; /* Blue scrollbar */
    border-radius: 10px;
  }

  /* Handle on hover */
  .overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #0056b3; /* Darker blue on hover */
  }
/*--------------------------------------------------------------
  # achievements Section
  --------------------------------------------------------------*/
  .ach_holder {
    background:#1e1d1d;
    border:rgba(254, 254, 254, 0);
    border-style: solid;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    background-image: url("https://magnawaveportal.com/wp-content/uploads/2024/03/achievement_row_bg.webp");
    background-size: contain;
    color: #fff;
  }

  .achievement{
    background-image: url("https://magnawaveportal.com/wp-content/uploads/2024/03/achievement_empty.webp"); 
    background-size: cover;
    background-repeat: no-repeat;  
    height: 150px;
    width: 150px;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding-top:125px;
    text-align: center;
    margin:auto;
  }

  /*_____________________________
   # animation 
  ________________________*/


   @keyframes slideInFromLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .slide-in {
    animation: slideInFromLeft 0.7s ease-in-out forwards;
  }
  /*--------------------------------------------------------------
  # notifictions Section
  --------------------------------------------------------------*/
  .home-page-notifications {
    
    border-style: solid;
    border: 1px;
    border-color: #0f0f0f;
    display: block;
  }
  .nom-holder {
    background:#ffffff;
    border:rgba(254, 254, 254, 0.7);
    border-style: solid;
    border-radius: 15px;
    margin: auto;
    width: 65%;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mvp-holder {
    background:#ffffff;
    border:rgba(250, 194, 8, 0.7);
    border-style: solid;
    border-radius: 15px;
    margin: auto;
    width: 65%;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .shout-holder {
    background:#ffffff;
    border:rgba(29, 156, 254, 0.161);
    border-style: solid;
    border-radius: 15px;
    margin: auto;
    width: 65%;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mvp-form-holder {
    background:#ffffff;
    border:rgba(254, 254, 254, 0.7);
    border-style: solid;
    border-radius: 15px;
    margin: auto;
    width: 65%;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
    padding:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
  }

  .mvp-form {
    width: 100%;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 50px;
  }

  .checkbox-holder {
    margin: 5px;
  }

  .nom-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .image-bg-holder {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    background:rgba(190, 190, 190, 0.88);
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
  }
  .mobile-name-holder {
    display: none;
  }
  .desktop-name-holder{
    display: block;
  }
  .mobile-img-holder {
    display: none;
  }

  .desktop-img-holder {
    display: block;
  }

  @media (max-width: 768px) {
    .nom-holder {
      width: 90%;
    }
    .nom-image {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      object-fit: cover;
    }

  .mvp-form-holder {
    background:#ffffff;
    border:rgba(254, 254, 254, 0.7);
    border-style: solid;
    border-radius: 15px;
    margin: auto;
    width: 90%;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
    padding:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
  }
  .mvp-form {
    width: 100%;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 0px;
    border-width: 1px;
    border-style: solid;
  }
   
  .image-bg-holder {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    background:rgba(190, 190, 190, 0.88);
    padding-top: 5px;
    padding-left: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
  }

  .mobile-name-holder {
    display: block;
    padding-top: 28px;
    padding-left: 10px;
  }
  .mobile-img-holder {
    display: block;
  }
  .desktop-name-holder{
    display: none;
  }
  .desktop-img-holder {
    display: none;
  }

  h2{
    font-size: 20px;
  }

  .nom-type-image {
    border-radius: 10%;
    width: 80px;
    height: 80px;
   
  }

  }

  .nom-type-image {
    border-radius: 10%;
    width: 120px;
    height: 100px;
    object-fit: cover;
  }

  .nom-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  .nom-btn:hover {
    background: #394f9e;
    color: #fff;
    border: 2px solid #e0e6e9;
  }

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 40vh;
    background-image: url("https://magnawaveportal.com/wp-content/uploads/2024/03/announcements_BG-1.webp");
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.11);
  }
  
  #hero:before {
    content: "";
    background: rgba(8, 9, 17, 0.7);
    position: absolute;
    bottom: 0;
    top: 32px;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
  }

  #hero .row {
    margin: 0px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 5px;
    font-size: 24px;
  }
  #hero h3 {
    color: #eee;
    margin-bottom: 5px;
    font-size: 18px;
  }

  #hero p {
    color:#eee;
    font-size: 13px;
  }
  
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 53vh;
      padding: 2px;
    }

    #hero .hero-container {
      padding: 10px;
    }

    #hero h1 {
      font-size: 24px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 5px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #f3f8ec;
    color: #8fc04e;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }
  
  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  
  .section-title h3 span {
    color: #8fc04e;
  }
  
  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
  }
  
  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }
  
  /*--------------------------------------------------------------
  # Forms and inputs
  --------------------------------------------------------------*/
.form-select {
  padding: 5px;
    border-radius: 10px;
    border-color: rgb(255, 0, 0);
    font-size: 20px;
}

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  
  #footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(15, 15, 15, 0.75);
    z-index: 1;
  }
  
  #footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;
  }
  
  #footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  #footer .footer-top p {
    font-size: 15;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
  }
  
  #footer .footer-top .footer-newsletter {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
  }
  
  #footer .footer-top .footer-newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #8fc04e;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #75a239;
  }
  
  #footer .footer-top .social-links {
    margin-top: 30px;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #8fc04e;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #75a239;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-bottom {
    border-top: 1px solid #282828;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  #footer .copyright {
    text-align: center;
    float: left;
  }
  
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
  }